body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2584d1;
}

.container {
width: 300px;
margin: 50px auto;
background-color: #76a4b9b6;
padding: 20px;
border-radius: 8px;
box-shadow: 0px 0px 1000px #00e1ff;
}
input{
width: 100%;
margin-bottom: 15px;
padding: 8px;
box-sizing: border-box;
}
button{
    width: 100%;
    background-color: #41c5cca4;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #212222;
}
button:hover{
    background-color: #1998ff;
    color: #212222;

}