body{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
background-color: rgb(0, 0, 0);
justify-content: center;
padding-top: 50px;
}
.container{
    background-color: rgb(0, 136, 255);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgb(0, 0, 0);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1, h2{
    color:rgb(0, 0, 0);

}
form{
    text-align:left;
}
label{
    display: block;
    margin-block: 5px;
    font-weight: bold;
    color: #000000
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: #ff0000;
}
button{
    width: 100%;
    background-color: #ff0c0c;
    color: #555;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor:pointer ;
    font-size: 16px;
    transition: 0.3s;

}
button:hover{
    background-color: #555;

}

/*Estilo para tabela*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,td{
    border-bottom: 1px solid #000000;
    padding: 12px;
    text-align: left;
}
th{
    background-color: rgb(0, 136, 255);
    color: #000000;
}

.btn-voltar{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.btn-excluir{
    background-color: #000;
    color: #000;
    padding: 5px 10px;
    text-decoration:none ;
    border-radius: 4px;
    font-size: 14px;

}
.btn-excluir:hover{
    background-color: #ff0000;
}